body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DDD;
    color: #546e7a;
}

.lewy{
    background-color: white;
    height: 600px;
    margin: 20px;
    box-shadow: inset grey;
    box-shadow: 0px 0px 20px grey;
    width: 50%;
    float: left;
}

.prawy{
    background-color: white;
    height: 600px;
    margin: 20px;
    box-shadow: 10px grey;
    box-shadow: 0px 0px 20px grey;
    width: 30%;
    float: left;
}

footer{
    background-color: #5C6BC0;
    color: white;
    padding: 30px;
    clear: both;
}

img{
    width: 100%;
}

h1{
    background-color: #5C6BC0;
    color: white;
    padding: 10px;
    margin: 0px;
    font-size: 300;
}

h3{
    padding-left: 30px;
}

p{
    padding-left: 30px;
}

h2{
    text-align: center;
}

h4{
    text-align: center;
}